.modal{
    position: fixed;
    left: 0 px;
    top: 0 px;
    right: 0 px;
    bottom: 0 px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}